#navbar{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 50px;
}

a{
    color: white;
}